.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
  }
  
  .contact ul li a {
    color: #00a8cc;
  }
  .contact ul li a:hover {
    color: yellow; 
    font-weight: bold;
  }